node_modules
.next
.git
.env
.env.local
.DS_Store
npm-debug.log
npm-debug.log.gz
yarn-debug.log
yarn-error.log
.vercel
.gemini
Dockerfile
scripts/db_export.json
.gitignore
.turbo
coverage
.jest
.idea
.vscode
.swp
.swo
Thumbs.db
docker-compose.yml
.docker
README.md
test
__tests__
private

